{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- Breadcrumbs -->
<div class="breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="bread-inner">
					<ul class="bread-list">
						<li><a href="{% url 'index' %}">Acceuil<i class="ti-arrow-right"></i></a></li>
						<li class="active"><a href="#">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Breadcrumbs -->

<!-- Start Contact -->
<section id="contact-us" class="contact-us section">
	<div class="container">
			<div class="contact-head">
				<div class="single-head mb-5">
					<div class="single-info">
						<i class="fa fa-info"></i>
						<h4 class="title">A Propos De Nous:</h4>
						<p class="text-justify">
							C'est formidable d'apprendre que j2lprint.com est une entreprise française située à Epinal (Vosges, 88) et qu'elle se spécialise dans l'impression et la communication visuelle.
							Il est intéressant de savoir que votre équipe met son expertise au service des revendeurs, en travaillant exclusivement avec des professionnels des arts graphiques.
							Il est également impressionnant de constater que j2lprint.com propose une large gamme de produits d'impression de haute qualité, avec plus de 100 options réparties en 3 catégories :
							imprimerie, signalétique et objets publicitaires. Cette diversité permet de répondre aux besoins variés des clients.
							La proximité avec les clients est une valeur importante pour j2lprint.com, ce qui est louable.
							Votre engagement en faveur de l'ennoblissement de produits accessibles à tous et de la fabrication française est également à saluer.
							Il est toujours bénéfique de soutenir l'économie locale et de promouvoir la production nationale.
							Si vous avez des questions spécifiques sur les services ou les produits offerts par j2lprint.com, n'hésitez pas à les poser. Je suis là pour vous aider !
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-8 col-12">
						<div class="form-main">
							<div class="title">
								<h4>Prenez contact</h4>
								<h3>Envoyez Nous Un Message</h3>
							</div>
							<form class="form" method="post" action="mail/mail.php">
								<div class="row">
									<div class="col-lg-6 col-12">
										<div class="form-group">
											<label>Votre Nom<span>*</span></label>
											<input name="name" type="text" placeholder="">
										</div>
									</div>
									<div class="col-lg-6 col-12">
										<div class="form-group">
											<label>Votre Objet<span>*</span></label>
											<input name="subject" type="text" placeholder="">
										</div>
									</div>
									<div class="col-lg-6 col-12">
										<div class="form-group">
											<label>Votre Email<span>*</span></label>
											<input name="email" type="email" placeholder="">
										</div>	
									</div>
									<div class="col-lg-6 col-12">
										<div class="form-group">
											<label>Votre Téléphone<span>*</span></label>
											<input name="company_name" type="text" placeholder="">
										</div>	
									</div>
									<div class="col-12">
										<div class="form-group message">
											<label>votre message<span>*</span></label>
											<textarea name="message" placeholder=""></textarea>
										</div>
									</div>
									<div class="col-12">
										<div class="form-group button">
											<button type="submit" class="btn ">Envoyez</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="col-lg-4 col-12">
						<div class="single-head">
							<div class="single-info">
								<i class="fa fa-phone"></i>
								<h4 class="title">Appelez Maintenant:</h4>
								<ul>
									<li>03-29-30-44-79</li>
								</ul>
							</div>
							<div class="single-info">
								<i class="fa fa-envelope-open"></i>
								<h4 class="title">Email:</h4>
								<ul>
									<li><a href="mailto:info@yourwebsite.com">jeanluc.lemaire@j2lcommunication.com</a></li>
								</ul>
							</div>
							<div class="single-info">
								<i class="fa fa-location-arrow"></i>
								<h4 class="title">Notre Addresse:</h4>
								<ul>
									<li>22 bis, rue Robert BARRET. 88390 UXEGNEY.</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>
<!--/ End Contact -->
{% endblock content %}