<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <!-- Meta Tag -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name='copyright' content=''>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Title Tag  -->
        <title>J2L-print</title>
        <!-- Favicon -->
        <link rel="icon" type="image/png" href="{% static 'index/images/favicon.png' %}">
        <!-- Web Font -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
        
        <!-- StyleSheet -->
        
        <!-- Bootstrap -->
        <link rel="stylesheet" href="{% static 'index/css/bootstrap.css' %}">
        <!-- Magnific Popup -->
        <link rel="stylesheet" href="{% static 'index/css/magnific-popup.min.css' %}">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{% static 'index/css/font-awesome.css' %}">
        <!-- Fancybox -->
        <link rel="stylesheet" href="{% static 'index/css/jquery.fancybox.min.css' %}">
        <!-- Themify Icons -->
        <link rel="stylesheet" href="{% static 'index/css/themify-icons.css' %}">
        <!-- Nice Select CSS -->
        <link rel="stylesheet" href="{% static 'index/css/niceselect.css' %}">
        <!-- Animate CSS -->
        <link rel="stylesheet" href="{% static 'index/css/animate.css' %}">
        <!-- Flex Slider CSS -->
        <link rel="stylesheet" href="{% static 'index/css/flex-slider.min.css' %}">
        <!-- Owl Carousel -->
        <link rel="stylesheet" href="{% static 'index/css/owl-carousel.css' %}">
        <!-- Slicknav -->
        <link rel="stylesheet" href="{% static 'index/css/slicknav.min.css' %}">
        
        <!-- Eshop StyleSheet -->
        <link rel="stylesheet" href="{% static 'index/css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'index/style.css' %}">
        <link rel="stylesheet" href="{% static 'index/css/responsive.css' %}">	
    </head>
    <body class="js">
        
        <!-- Preloader -->
        <div class="preloader">
            <div class="preloader-inner">
                <div class="preloader-icon">
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <!-- End Preloader -->
        
        <!-- Header -->
        <header class="header shop">
            <!-- Topbar -->
            <div class="topbar">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 col-12">
                            <!-- Top Left -->
                            <div class="top-left">
                                <ul class="list-main">
                                    <li><i class="ti-headphone-alt"></i><a href="tel:03-29-30-44-79">03-29-30-44-79</a></li>
                                </ul>
                            </div>
                            <!--/ End Top Left -->
                        </div>
                        <div class="col-lg-8 col-md-12 col-12">
                            <!-- Top Right -->
                            <div class="right-content">
                                <ul class="list-main">
                                    <li><i class="ti-location-pin"></i><a href="{% url 'contact' %}">Qui sommes nous ?</a></li>
                                </ul>
                            </div>
                            <!-- End Top Right -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Topbar -->
            <div class="middle-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-12">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="{% url 'index' %}"><img src="{% static 'index/images/logo.png' %}" alt="logo"></a>
                            </div>
                            <!--/ End Logo -->
                            <!-- Search Form -->
                            <div class="search-top">
                                <div class="top-search"><a href="#0"><i class="ti-search"></i></a></div>
                                <!-- Search Form -->
                                <div class="search-top">
                                    <form class="search-form">
                                        <input type="text" placeholder="Search here..." name="search">
                                        <button value="search" type="submit"><i class="ti-search"></i></button>
                                    </form>
                                </div>
                                <!--/ End Search Form -->
                            </div>
                            <!--/ End Search Form -->
                            <div class="mobile-nav"></div>
                        </div>
                        <div class="col-lg-8 col-md-7 col-12">
                            <div class="search-bar-top">
                                <div class="search-bar">
                                    <select>
                                        <option selected="selected">Toutes</option>
                                        {% for category in categories %}
                                        <option><li><a href="#">{{ category }}</a></li></option>
                                        {% endfor %}
                                        
                                        {% for category in more_categories %}
                                        <option><li><a href="#">{{ category }}</a></li></option>
                                        {% endfor %}
                                    </select>
                                    <form>
                                        <input name="search" placeholder="Recherchez ici..." type="search">
                                        <button class="btnn"><i class="ti-search"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-12">
                            <div class="right-bar">
                                <!-- Search Form -->
                                <div class="sinlge-bar">
                                    <a href="#" class="single-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                                </div>
                                <div class="sinlge-bar">
                                    <a href="#" class="single-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
                                </div>
                                <div class="sinlge-bar shopping">
                                    <a href="#" class="single-icon"><i class="ti-bag"></i> <span class="total-count">2</span></a>
                                    <!-- Shopping Item -->
                                    <div class="shopping-item">
                                        <div class="dropdown-cart-header">
                                            <span>2 Items</span>
                                            <a href="#">View Cart</a>
                                        </div>
                                        <ul class="shopping-list">
                                            <li>
                                                <a href="#" class="remove" title="Remove this item"><i class="fa fa-remove"></i></a>
                                                <a class="cart-img" href="#"><img src="https://via.placeholder.com/70x70" alt="#"></a>
                                                <h4><a href="#">Woman Ring</a></h4>
                                                <p class="quantity">1x - <span class="amount">$99.00</span></p>
                                            </li>
                                            <li>
                                                <a href="#" class="remove" title="Remove this item"><i class="fa fa-remove"></i></a>
                                                <a class="cart-img" href="#"><img src="https://via.placeholder.com/70x70" alt="#"></a>
                                                <h4><a href="#">Woman Necklace</a></h4>
                                                <p class="quantity">1x - <span class="amount">$35.00</span></p>
                                            </li>
                                        </ul>
                                        <div class="bottom">
                                            <div class="total">
                                                <span>Total</span>
                                                <span class="total-amount">$134.00</span>
                                            </div>
                                            <a href="checkout.html" class="btn animate">Checkout</a>
                                        </div>
                                    </div>
                                    <!--/ End Shopping Item -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header Inner -->
            <div class="header-inner">
                <div class="container">
                    <div class="cat-nav-head">
                        <div class="row">
                            <div class="col-lg-9 col-12">
                                <div class="menu-area">
                                    <!-- Main Menu -->
                                    <nav class="navbar navbar-expand-lg">
                                        <div class="navbar-collapse">	
                                            <div class="nav-inner">	
                                                <ul class="nav main-menu menu navbar-nav">
                                                        <li class="active"><a href="{% url 'index' %}">Accueil</a></li>
                                                        {% for category in categories %}
                                                        <li><a href="{% url 'product' category %}">{{ category }}</a></li>	
                                                        {% endfor %}
                                                        <li>
                                                            <a href="#">Encore plus<i class="ti-angle-down"></i></a>
                                                            <ul class="dropdown">
                                                                {% for category in more_categories %}
                                                                <li><a href="{% url 'product' category %}">{{ category }}</a></li>
                                                                {% endfor %}
                                                            </ul>
                                                        </li>
                                                    </ul>
                                            </div>
                                        </div>
                                    </nav>
                                    <!--/ End Main Menu -->	
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ End Header Inner -->
        </header>
        <!--/ End Header -->

        {% block content %}{% endblock content %}

        <!-- Start Footer Area -->
        <footer class="footer">
            <!-- Footer Top -->
            <div class="footer-top section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-6 col-12">
                            <!-- Single Widget -->
                            <div class="single-footer about">
                                <div class="logo">
                                    <a href="{% url 'index' %}"><img src="{% static 'index/images/logo2.png' %}" alt="#"></a>
                                </div>
                                <p class="text">Bienvenue sur le site de J2L Communication, une agence de publicité et de communication près d'Epinal dans les Vosges (88). Depuis notre création en 2012, nous accompagnons nos clients dans leur stratégie de communication et leur offrons des solutions adaptées à leurs besoins et à leur budget.</p>
                                <p class="call">Vous avez une question ? Appelez-nous 24/7<span><a href="tel:123456789">03-29-30-44-79</a></span></p>
                            </div>
                            <!-- End Single Widget -->
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                            <!-- Single Widget -->
                            <div class="single-footer social">
                                <h4>Prenez contact</h4>
                                <!-- Single Widget -->
                                <div class="contact">
                                    <ul>
                                        <li>22 bis, rue Robert BARRET. 88390 UXEGNEY.</li>
                                        <li>jeanluc.lemaire@j2lcommunication.com</li>
                                        <li>03-29-30-44-79</li>
                                    </ul>
                                </div>
                                <!-- End Single Widget -->
                                <ul>
                                    <li><a href="https://www.facebook.com/J2LCOMMUNICATION" target="_blank"><i class="ti-facebook"></i></a></li>
                                    <li><a href="mailto:jeanluc.lemaire@j2lcommunication.com" target="_blank"><i class="ti-email"></i></a></li>
                                </ul>
                            </div>
                            <!-- End Single Widget -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Footer Top -->
            <div class="copyright">
                <div class="container">
                    <div class="inner">
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <div class="left">
                                    <p>Copyright © 2020 <a href="https://www.outstrip.tech" target="_blank">OutStrip</a>  -  Tout Droits Réservés.</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="right">
                                    <img src="{% static 'index/images/payments.png' %}" alt="#">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- /End Footer Area -->
    
        <!-- Jquery -->
        <script src="{% static 'index/js/jquery.min.js' %}"></script>
        <script src="{% static 'index/js/jquery-migrate-3.0.0.js' %}"></script>
        <script src="{% static 'index/js/jquery-ui.min.js' %}"></script>
        <!-- Popper JS -->
        <script src="{% static 'index/js/popper.min.js' %}"></script>
        <!-- Bootstrap JS -->
        <script src="{% static 'index/js/bootstrap.min.js' %}"></script>
        <!-- Color JS -->
        <script src="{% static 'index/js/colors.js' %}"></script>
        <!-- Slicknav JS -->
        <script src="{% static 'index/js/slicknav.min.js' %}"></script>
        <!-- Owl Carousel JS -->
        <script src="{% static 'index/js/owl-carousel.js' %}"></script>
        <!-- Magnific Popup JS -->
        <script src="{% static 'index/js/magnific-popup.js' %}"></script>
        <!-- Waypoints JS -->
        <script src="{% static 'index/js/waypoints.min.js' %}"></script>
        <!-- Countdown JS -->
        <script src="{% static 'index/js/finalcountdown.min.js' %}"></script>
        <!-- Nice Select JS -->
        <script src="{% static 'index/js/nicesellect.js' %}"></script>
        <!-- Flex Slider JS -->
        <script src="{% static 'index/js/flex-slider.js' %}"></script>
        <!-- ScrollUp JS -->
        <script src="{% static 'index/js/scrollup.js' %}"></script>
        <!-- Onepage Nav JS -->
        <script src="{% static 'index/js/onepage-nav.min.js' %}"></script>
        <!-- Easing JS -->
        <script src="{% static 'index/js/easing.js' %}"></script>
        <!-- Active JS -->
        <script src="{% static 'index/js/active.js' %}"></script>
    </body>
</html>