{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- Breadcrumbs -->
<div class="breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="bread-inner">
					<ul class="bread-list">
						<li><a href="{% url 'index' %}">Acceuil<i class="ti-arrow-right"></i></a></li>
						<li><a href="#">{{ category.name }}<i class="ti-arrow-right"></i></a></li>
						<li><a href="{% url 'detail' category.to_url product.to_url %}">{{ product.name }}<i class="ti-arrow-right"></i></a></li>
						<li class="active"><a href="#">Dévis</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Breadcrumbs -->


<!-- Start Checkout -->
<section id="contact-us" class="contact-us section">
	<div class="container">
			<div class="contact-head">
                <div class="form-main">
                    <div class="title">
                        <h4>Démandez votre devis !</h4>
                        <h3>Entreprise, Associations ou Collectivités ?</h3>
                        <h3>Faites vos dévis express gratuitement en 1 clic.</h3>
                    </div>
                    <form class="form" method="post" action="{% url 'estimate' category.to_url product.to_url %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label for="id_first_name">Nom<span>*</span></label>
                                    {{ form.first_name }}
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label for="id_last_name">Prénom<span>*</span></label>
                                    {{ form.last_name }}
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label for="id_email">Email<span>*</span></label>
                                    {{ form.email }}
                                </div>	
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label for="id_organisation">Organisation<span>*</span></label>
                                    {{ form.organisation }}
                                </div>	
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label for="id_phone">Téléphone<span>*</span></label>
                                    {{ form.phone }}
                                </div>	
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label for="id_address">Addresse<span>*</span></label>
                                    {{ form.address }}
                                </div>	
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label for="id_postal_code">Code postal<span>*</span></label>
                                    {{ form.postal_code }}
                                </div>	
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label for="id_city">Ville<span>*</span></label>
                                    {{ form.city }}
                                </div>	
                            </div>
                            <div class="col-12">
                                <div class="form-group message">
                                    <label for="id_message">votre message<span>*</span></label>
                                    {{ form.message }}
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group button">
                                    <button type="submit" class="btn ">Envoyez</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
			</div>
		</div>
</section>
<!--/ End Checkout -->
{% endblock content %}