{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- Breadcrumbs -->
<div class="breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="bread-inner">
					<ul class="bread-list">
						<li><a href="{% url 'index' %}">Acceuil<i class="ti-arrow-right"></i></a></li>
						<li><a href="#">{{ category.name }}<i class="ti-arrow-right"></i></a></li>
						<li><a href="{% url 'detail' category.to_url product.to_url %}">{{ product.name }}<i class="ti-arrow-right"></i></a></li>
						<li class="active"><a href="#">Dévis</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Breadcrumbs -->


<!-- Start Contact -->
<section id="contact-us" class="contact-us section">
	<div class="container">
			<div class="contact-head">
                <div class="form-main">
                    <div class="title">
                        <h4>Démandez votre devis !</h4>
                        <h3>Entreprise, Associations ou Collectivités ?</h3>
                        <h3>Faites vos dévis express gratuitement en 1 clic.</h3>
                    </div>
                    <form class="form" method="post">
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label for="name">Nom<span>*</span></label>
                                    <input name="name" type="text" placeholder="" required>
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label for="prenom">Prénom<span>*</span></label>
                                    <input name="prenom" type="text" placeholder="" required>
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label for="email">Email<span>*</span></label>
                                    <input name="email" type="email" placeholder="" required>
                                </div>	
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label for="company_name">Organisation<span>*</span></label>
                                    <input name="company_name" type="text" placeholder="" required>
                                </div>	
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label for="phone">Téléphone<span>*</span></label>
                                    <input name="phone" type="tel" placeholder="" required>
                                </div>	
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label for="address">Addresse<span>*</span></label>
                                    <input name="address" type="text" placeholder="" required>
                                </div>	
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label for="postal">Code postal<span>*</span></label>
                                    <input name="postal" type="text" placeholder="" required>
                                </div>	
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label for="city">Ville<span>*</span></label>
                                    <input name="city" type="text" placeholder="" required>
                                </div>	
                            </div>
                            <div class="col-12">
                                <div class="form-group message">
                                    <label for="message">votre message<span>*</span></label>
                                    <textarea name="message" placeholder="" required></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group button">
                                    <button type="submit" class="btn ">Envoyez</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
			</div>
		</div>
</section>
<!--/ End Contact -->
{% endblock content %}